<app-navbar></app-navbar>
<br>
<h2 style="margin: auto"> My Lists </h2><br><br>
<button class="btn btn-primary" [routerLink]="['/Addlist']" > Create List</button>
<br> <br> 
    <table class="table table-striped">
      <thead>
      <tr>
        <th>title</th>
        <th>name</th>
        <th class="hidden"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let list of lists ; let i = index" [routerLink]="['/task', list._id]" routerLinkActive="is-active">
        <td>{{list.title}}</td>
        <td>{{list.name}}</td>
        <td>
          <button class="btn btn-primary"style="margin-right: 20px;" [routerLink]="['/update',list._id]" > Edit</button>
         <button class="btn btn-danger" (click)="delete(list._id,i)"> Delete</button>
        </td>
      </tr>
      </tbody>
    </table>


